<footer class="p-2 footerSection">
    <div class="row font-weight-bold">
        <div class="col-lg-1 col-md-2 col-sm-10 col-xs-10"></div>
        <div class="col-lg-3 col-md-4 col-xs-10 col-sm-10 justify-content-center p-2">
            <ul>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-10 col-sm-10 p-1">
            <p>Get us know about more & follow us on</p>
            <ul>
                <li>Linked In</li>
                <li>Facebook</li>
            </ul>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
    </div>
</footer>
