.paymentCard{
    border-color: #6c757d;
}

.calculateBtn{
    font-weight: 700;
     border-radius: 20px;
}

.card-header{
    background-color: #324d75;
}

.paymentLabel{
    font-weight: 800;
}

.helpIcon{
    height: 15px;
    width: 15px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.tooltip{
    background-color: violet !important;
}