.paymentCard{
    border-color: #6c757d;
}

.calculateBtn{
    // background-color: #324d75;
    // color: white;
    font-weight: 700;
    // font-family: ui-sans-serif;
     border-radius: 20px;
}

.card-header{
    background-color: #324d75;
}

.helpIcon{
    height: 15px;
    width: 15px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}